<h1>
  <% @students.each do |student| %>

  <%= student.to_s %><br>

<% end %>

</h1>


<!-- My original code was passing all the tests, but resulted in a rendering of each student instance in its entirety.  I modified it after looking at and analyzing the code from the solution branch.

The below code is copied from the solution branch. The use of the greater than percent sign without the equals sign prevents the rendering of those lines, while the use of the equals sign permits it will be displayed. -->

<!-- <div>
  <% @students.each do |student| %>
    <div><%= student.to_s %></div>
  <% end %>
</div> -->
